body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(50, 50, 185);
}

.kinketic{
    position: relative;
    height: 100px;
    width: 100px;
}

.kinketic::after,.kinketic::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    height: 0;
    width: 0;
    border: 50px solid transparent;
    border-bottom-color:  #fff;
    /* animation: rotateA 2s linear infinite 0.5s; */
}

.kinketic::before{
   transform: rotate(90deg);
   animation: rotateB 2s linear infinite ;

}

.kinketic::after{
    transform: rotate(0deg);
    animation: rotateA 2s linear infinite 0.5s;
}

@keyframes rotateA {
    0%,25%{
        transform: rotate(0deg);
    }
    50%,
    75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotateB{
    0%,25%{
        transform: rotate(90deg);
    }
    50%,
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(450deg);
    }
}